@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #49a3e822;
}
/* Add this CSS to your stylesheet */
.bttn {
  background-color: white;
  border: none;
  /* padding: 5px 10px; */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.bttn:hover {
  color: #0056b3;
}

.selected {
  background-color: #0056b3;
  color: red;
}
